button {
    cursor: pointer;
    outline: 0;
    color: #AAA;
}

.mak-plugin .btn {
    color: #AAA;
}

.mak-plugin .btn:focus {
    outline: none;
}

.mak-plugin .green {
    color: green !important;
}

.mak-plugin .gray {
    color: #AAA;
}


.mak-plugin .red {
    color: red;
}

.mak-plugin .like-count {
    padding: 5px;
    font-weight: 500;

}

.mak-plugin .unuser {
    font-size:medium;
    color: #AAA;
}